<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evony PVP March Calculator</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header class="navbar">
        <div class="brand">
            <img class="mavbar__logo" src="static/archer.png" alt="PVP March Calculator logo" /> Evony March Calculator
        </div>
    </header>
    <main class="main">
        <section>
            <p>Welcome to the Evony troop march calculator. This is for calculating your optimal Player vs Player attack march.</p>
            <p>You will need the following information:</p>
            <ul>
                <li>Your maximum level troop tier</li>
                <li>Your maximum march size. 
                    <p class="sublist">If you plan to buff march size every time you fight PVP, use that figure</p>
                </li>
                <li>Your desired troop ratio. 
                    <p class="sublist">The default is a 3/5/2 ratio </p>
                    <p class="sublist">Vaues must sum to 10, or the default ratio will be used</p>
                </li>
                <!-- <li>The march type. 
                    <p class="sublist">The default is ranged</p>
                </li> -->
                <li>Whether you want to include a siege element in your march</li>
            </ul>
            <form class="form" method="POST">
                <p class="form__input">
                    <label for="max_tier" class="form__label">Maximum Troop Tier: </label>
                    <input name="max_tier" id="max_tier" class="form__numeric" type="number"></input>
                </p>
                <p class="form__input">
                    <label for="max_march" class="form__label">Maximum March Size: </label>
                    <input name="max_march" id="max_march" class="form__numeric" type="number"></input>
                </p>
                <article>Troop Ratio (leave all blank for default):</article>
                <p class="form__input">
                    <label for="ratio_high" class="form__label">Highest Tier Ratio: </label>
                    <input name="ratio_high" id="ratio_high" class="form__numeric" type="number"></input>
                </p>
                <p class="form__input">
                    <label for="ratio_mid" class="form__label">Middle Tier Ratio: </label>
                    <input name="ratio_mid" id="ratio_mid" class="form__numeric" type="number"></input>
                </p>
                <p class="form__input">
                    <label for="ratio_low" class="form__label">Lowest Tier Ratio: </label>
                    <input name="ratio_low" id="ratio_low" class="form__numeric" type="number"></input>
                </p>
                <p>Siege adjustment coming soon!</p>
                <button class="form__submit" type="submit">Calculate March</button>
            </form>
        </section>
        <section>
            <h2>You will need:</h2>
            <ul>
                <li>{{ troop_mix[0] }} T{{ troop_mix[1] }} troops</li>
                <li>{{ troop_mix[2] }} T{{ troop_mix[3] }} troops</li>
                <li>{{ troop_mix[4] }} T{{ troop_mix[5] }} troops</li>
                <li>1000 of all other troop types and troop tiers</li>
                {% if default_ratio == true %}
                <li>No valid ratio was entered. The default 3-5-2 ratio was used</li>
                {% endif %}
            </ul>

        </section>
        
    </main>
        
</body>
</html>